// Colors
$green: #36C593;
$purple: #7E6998;
$orange: #E8B466;
$blue: #96C3CE;
$grey: #998F96;

$white: #fff;
$dark: #333;
$black: #1f1f1f;

$fun: $blue;
$work: $green;
$personal: $orange;
$thoughts: $purple;

$body-bg-light: $white;
$body-color-light: $dark;

$body-bg-dark: $black;
$body-color-dark: $white;

$link-color: $grey;