@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Libre+Franklin:700,700i');

body, .article {
  font-family: 'Libre Baskerville', serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: 'Libre Franklin', sans-serif;
}

html, .root {
  font-size: 18px;
  line-height: 27px;
}
body, .article {
  font-size: 1em;
  line-height: 1.5em;
}
h1, .h1 {
  font-size: 3.38888889em;
  line-height: 1.32786885em;
  margin-top: 0.44262295em;
  margin-bottom: 0.8852459em;
}
h2, .h2 {
  font-size: 2.27777778em;
  line-height: 1.31707317em;
  margin-top: 0.65853659em;
  margin-bottom: 0.65853659em;
}
h3, .h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

a {
  color: $link-color;

  &:visited {
    color: $link-color;
  }
}

.is-dark {
  a {
  color: $link-color-dark;

  &:visited {
    color: $link-color-dark;
  }
}
}